/* Very Hi Resolutions
----------------------------------------------------------*/
@media screen and (min-width: 1360px) {
	#main {
		max-width:1340px;
	}
	#head_wrap.fixed {
		max-width: 737px;
	}
}

/* Low Resolutions
----------------------------------------------------------*/
@media screen and (max-width: 960px) {
	div#content {
		margin: 0 40px;
		position: static;
	}
	.top-menu #main {
		padding-top: 0;
	}
	#main {
		position: relative;
	}
	#sidebar-primary ,
	#sidebar-secondary ,
	#sidebar-primary.fixed ,
	#sidebar-secondary.fixed,
	#sidebar-primary.tinyscroll ,
	#sidebar-secondary.tinyscroll {
		position: static;
		padding: 0;
		margin: 0;
		width: auto;
	}
	#sidebar-primary.fixed .viewport,
	#sidebar-secondary.fixed .viewport,
	#sidebar-primary.tinyscroll .viewport,
	#sidebar-secondary.tinyscroll .viewport {
		position: static;
		width: 49.5%;
		height: auto !important;
		overflow: auto;
		float: left;
		padding: 0;
		margin: 0;
	}
	#sidebar-primary.fixed:hover .viewport,
	#sidebar-secondary.fixed:hover .viewport {
		overflow-y: auto;
	}
	#sidebar-primary .overview ,
	#sidebar-secondary .overview ,
	#sidebar-primary.fixed .overview ,
	#sidebar-secondary.fixed .overview,
	#sidebar-primary.tinyscroll .overview ,
	#sidebar-secondary.tinyscroll .overview {
		width: auto;
		padding: 10px;
		position: static;
	}
	.sidebar.tinyscroll .scrollbar{
		display: none !important;
	}
	#fixed-bg {
		background-position: -14px 0;
	}
	.post-top-date,
	.post-top-tag,
	.post-top-cat {
		margin-right: 10px;
	}
	.top-fade,
	.bottom-fade {
		display: none;
	}
	#navbuttons.fixed ul {
		width: 40px;
		padding-left: 0;
		padding-right: 0;
		right: 0;
		border-right: none;
	}
	.minib_edit ,
	.minib_print ,
	.minib_track ,
	.minib_home {
		display: none;
	}
	#secondary1_wrap {
		margin: 0 40px;
	}
	.tinynav {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		border: 1px solid #ddd;
	}
	#tinynav1 {
		margin: 0;
	}
	body > .tinynav {
		padding-left: 40px;
	}
	.menu-wrap:before {
		content: "...";
		display: block;
		width: 32px;
		height: 32px;
	}
	.tinynav option {
		padding: 5px 0;
	}
	.nav-menu {
		display: none;
	}
	.tinynav_label {
		display: inline-block;
		font-size:23px;
		position: absolute;
		left: 8px;
		margin-top: 4px;
	}
	#head_wrap.fixed {
		background: transparent;
		margin: 0;
		padding: 0;
		position: static;
		z-index: 100;
	}
	#posts_content {
		padding-top: 0 !important;
	}
}
