/* Boozurk - Theme options stylesheet */

#bz-icon {
	background: url('../images/boozurk.png') no-repeat scroll center transparent;
}
#boozurk-infos ul {
	list-style: disc outside;
	margin-left: 30px;
}
#boozurk-options,
#boozurk-infos {
	padding: 20px 10px;
}
#tabs-container {
	margin: 20px 20px 20px 150px;
}
#boozurk-options select {
	max-width: 160px;
}
#bz-tabselector,
#selector {
	position: absolute;
	top: 100px;
	left: 0;
}
#bz-tabselector li,
#selector li {
	width: 130px;
	padding: 3px 16px 3px 4px;
}
#bz-tabselector li a,
#selector li a {
	text-decoration: none;
}
.sel-active a {
	color: #000;
}

.sel-active {
	font-weight: bold;
	background: url("../images/litem_rtl.png") no-repeat 135px center transparent;
}
#bz-main-wrap {
	position: relative;
}
.bz-tab-opt {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px;
}
.bz-tab-opt:hover {
	background-color: #EAF2FA;
	border-color: transparent;
}
.bz-tab-opt input {
	margin-left: 10px;
}
.bz_text {
	width: 50%;
}
.bz-col-tools {
	position: relative;
	margin-bottom: 10px;
}
.column-nam {
	font-weight: bold;
}
.bz-tabgroup-colors .column-nam {
	margin-bottom: 10px;
	display: block;
}
.column-des {
	font-style:italic;
	border-top: 1px solid #eee;
	font-size: 10px;
	margin-top: 10px;
}
.column-req {
	border-top: 1px solid #eee;
	margin-top: 10px;
}
.color_preview_box {
	width:2em;
	border:1px solid #262626;
	cursor: crosshair;
}
.bz_cp {
	background:#eee;
	position:absolute;
	display:none;
	top: 25px;
	left: 0;
	z-index: 500;
	border:1px solid #fff;
	box-shadow:0 0 4px #404040;
}
.farbtastic .wheel {
    left: 0;
    top: 0;
}
