/* Boozurk - Theme options stylesheet */

#theme-icon {
	background: url('../images/boozurk.png') no-repeat scroll center transparent;
}
#theme-infos ul {
	list-style: disc outside;
	margin-left: 30px;
}
#theme-options,
#theme-infos {
	padding: 20px 10px;
}
#tabs-container {
	margin: 20px 20px 20px 150px;
}
#theme-options select {
	max-width: 160px;
}
#tabselector,
#selector {
	position: absolute;
	top: 100px;
	left: 0;
}
#tabselector li,
#selector li {
	width: 130px;
	padding: 3px 16px 3px 4px;
}
#tabselector li a,
#selector li a {
	text-decoration: none;
}
.sel-active a {
	color: #000;
}

.sel-active {
	font-weight: bold;
	background: url("../images/litem_rtl.png") no-repeat 135px center transparent;
}
#main-wrap {
	position: relative;
}
.tab-opt {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px;
}
.tab-opt:hover {
	background-color: #f2f7fc;
	border-color: transparent;
}
.tab-opt input {
	margin-left: 10px;
}
.boozurk_text {
	width: 50%;
}
.column-nam {
	font-weight: bold;
}
.tabgroup-colors .column-nam {
	margin-bottom: 10px;
	display: block;
}
.column-des {
	font-style:italic;
	border-top: 1px solid #eee;
	font-size: 11px;
	margin-top: 10px;
}
.column-req {
	border-top: 1px solid #eee;
	margin-top: 10px;
}
.color_preview_box {
	width:2em;
	border:1px solid #262626;
	cursor: crosshair;
}
.boozurk_cp {
	background:#828c95;
	background: -moz-linear-gradient(-45deg, #c6c6c6 0%, #828c95 36%, #3a3a3a 100%); /* FF3.6+ */
	background: linear-gradient(135deg, #c6c6c6 0%, #828c95 36%, #3a3a3a 100%); /* W3C */
	border-radius: 0 100px 100px 100px;	
	position:absolute;
	display:none;
	top: 50px;
	left: 52px;
	z-index: 500;
	box-shadow: 0 0 2px #000;
}
.farbtastic .wheel {
    left: 0;
    top: 0;
}
.sub-opt-wrap {
	font-size: 11px;
	margin-top: 10px;
}
.sub-opt-wrap br.clear {
	display: none;
}
.tabgroup-colors br.clear {
	display: block;
}
.tabgroup-colors .col-tools {
	border: 1px solid #DFDFDF;
	float: left;
	margin: 0 20px 20px 0;
	padding: 10px;
	width: 240px;
	position: relative;
	background-color: #fff;
}
.col-tools span {
	font-weight: bold;
}
.tabgroup-colors .color_preview_box {
	width:80px;
	height:80px;
	float: left;
}
.tabgroup-colors input {
	margin: 0 10px 0 0;
}

.tab-opt textarea {
	vertical-align: middle;
	height: 10em;
	width: 50%;
}
#buttons a {
	font-size: 10px; 
	text-decoration: none; 
	margin: 0 10px; 
}