/* Boozurk - Theme options stylesheet */

#theme-icon {
	background: url('../images/boozurk.png') no-repeat scroll center transparent;
}
div.wrap {
	margin-right: 240px;
}
.button {
	min-width:130px;
}
#theme_donation {
	position: fixed;
	right: 20px;
	top: 118px;
	width: 200px;
	text-align: center;
}
#buttons {
	position: fixed;
	right: 20px;
	top: 270px;
	width: 200px;
	text-align: center;
}
#theme_bottom {
	clear: both;
	text-align: center;
	border-top: 1px solid #ccc;
}
#theme-infos ul {
	list-style: disc outside;
	margin-left: 30px;
}
#theme-infos h3:first-of-type {
	margin-top:0;
}
#theme-options select {
	max-width: 160px;
}
#tabselector {
	margin-bottom: 10px;
}
#tabselector img {
	vertical-align: bottom;
}
.tab-opt {
	margin: 20px 0;
	padding: 10px;
	background: #fff;
	border: 1px solid #E5E5E5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.tab-opt + .tab-opt{
	margin-bottom: 10px;
}
.tab-opt input {
	margin-left: 10px;
}
.theme_option_text {
	width: 50%;
}
.column-nam {
	font-size: 15px;
	font-weight: normal;
}
.column-des {
	font-style:italic;
	font-size: 11px;
	color: #666;
	border-top: 1px solid #E1E1E1;
	margin: 10px -10px 0;
	padding: 0 10px;
}
.column-req {
	border-top: 1px solid #eee;
	margin-top: 10px;
	color: #aaa;
	text-align: right;
}
.sub-opt-wrap {
	font-size: 11px;
	margin-top: 10px;
}
.sub-opt-wrap br.clear {
	display: block;
}
.col-tools {
	border: 1px solid #DFDFDF;
	float: left;
	margin: 0 1% 1% 0;
	padding: 1%;
	width: 30%;
	position: relative;
	text-align: center;
}
.col-tools span {
	font-weight: bold;
}
.tab-opt textarea {
	vertical-align: middle;
	height: 10em;
	width: 50%;
}
#buttons a {
	font-size: 10px; 
	text-decoration: none; 
	margin: 0 10px; 
}
.wp-picker-holder {
	position: absolute;
	z-index: 999;
}
